# --- 1. FILE RÁC PYTHON (Mặc định) ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.DS_Store
.env
venv/
env/

# --- 2. DỮ LIỆU CỦA DỰ ÁN (Quan trọng - Phải thêm cái này) ---
data/raw/
data/processed/
Dataset/

# --- 3. CÁC ĐUÔI FILE NẶNG CẦN CHẶN ---
*.csv
*.xlsx
*.zip
*.rar
*.tar.gz
*.edf
*.bdf
*.gdf
*.npy
*.npz
*.mat
*.h5
*.pth
*.pt
*.pkl
*.model

# --- 4. LOGS & KẾT QUẢ ---
results/
logs/
wandb/